h1 {
    color: rgb(71, 162, 71);
    font-family: "Time New Roman"
  }
  h2 {
    color: rgb(21, 154, 150);
    font-family: "Time New Roman"
  }
  h3 {
    color: cadetblue;
    font-family: "Time New Roman"
  }